 
 /* Modal window */
 
 .backdrop {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: 1;
    transition: opacity 250ms var(--cubic);
    background-color: rgba(0, 0, 0, 0.2);
 }
 
 .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
 }
 
 .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    padding: 40px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms var(--cubic);
 }
 
 .modal-close {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    transition: fill 250ms var(--cubic);

    &:hover,
    &:focus{
      fill: var(--accent-color);
    }
 }
 
 
 .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
 }
 
 
 /* Form styles */
 .form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
 
    color: var(--title-text-color);
 }
 
 .label {
    display: block;
 }
 
 .label-text {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.01em;
 
    color: var(--primary-text-color);
 }
 
 .field {
    position: relative;
    margin-bottom: 10px;
 }
 
 .input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border 250ms var(--cubic);
 }
 
 .input:focus {
    border-color: var(--accent-color);
 }
 
 .field-input {
    padding: 10px 15px 10px 32px;
 }
 
 .field-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms var(--cubic);
 }
 
 .field-input:focus+.field-icon {
    fill: var(--accent-color);
 }
 
 .input-comment {
    padding: 12px 16px;
    height: 120px;
    resize: none;
    margin-bottom: 20px;
 
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
 
    color: rgba(117, 117, 117, 0.5);
 }
 

 .privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
 }
 
 .privacy-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 14px;
    border: 1px solid;
    border-radius: 2px;
    border-color: var(--title-text-color);
    transition: border-color 250ms var(--cubic);
 }
 
 .privacy-icon {
    opacity: 0;
    transition: opacity 250ms var(--cubic);
 }
 
 .privacy-input {
    position: absolute;
 }
 
 .privacy-input:checked+.privacy-wrapp {
    border-color: transparent;
 }
 
 .privacy-input:checked+.privacy-wrapp .privacy-icon {
    opacity: 1;
 }
 
 .privacy-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: var(--accent-color);
 }
 
 .privacy-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-left: 8px;
 }
 
 
 .form-button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;
 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
 }